* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #eee;
}

.jumbotron {
    text-align: center;
    color: #333;
    background-color: #eee;
    border-bottom: 8px solid #333;
    border-radius: 0;
    margin-bottom: 16px;
}

.time-block {
    margin-bottom: 2px;
}

.hour-area {
    width: 96px;
    justify-content: flex-end;
}

.event-area {
    text-align: center;
}

.past {
    background-color: #cacaca;
    color: #fff;
  }
  
.present {
    background-color: #509ee7;
    color: #fff;
  }
  
.future {
    background-color: #a7d4ff;
    color: #fff;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    background-color: #333;
    height: 64px;
    width: 100%;
    margin-top: 8px;
  }