* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

.jumbotron {
    text-align: center;
    background-color: #eee;
    color: #333;
    border-bottom: 8px solid #333;
    border-radius: 0;
}

.time-block {
    margin-bottom: 2px;
}

.hour {
    width: 96px;
    justify-content: flex-end;
}

